/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2021, 6:21:25 PM
    Author     : ADMIN
*/

.preHeader{
    background-image: url("../images/top_box.gif");
    width: 700px;
    height: 19px;
}

.menubar{
    width: 663px;
    height: 51px;
    background-image: url("../images/menu_bg.gif");
    margin: 0 auto;
}

.menubar ul li a{
    color: #595959;
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.8rem;
    font-weight: bold;
}

.menubar ul {
    list-style-type: none;    
    margin: 0 auto;
    padding: 1.2rem 0 1.2rem 50px;
}

.menubar ul li{
     display: inline-block;
}


