/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2021, 6:22:48 PM
    Author     : ADMIN
*/

.numberQuestions{
    padding-top: 20px;
    padding-left: 40px;
    margin-bottom:30px; 
}

.numberQuestions p{
    font-size: 1.2rem;
}
.nQ{
    padding-left: 5px;
}
.tableManage{
    padding-left: 38px;
}
.columQuestions{
    width: 370px;
    padding: 0.2rem;
}
.columDateCreated{
    width: 100px;

}
.paging{
    padding-top: 30px;
    padding-left: 40px;
}
.paging p {
    color: red;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
}
.paging a{
    margin-left: 8px;
    margin-right: 8px;
}

