/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2021, 6:23:35 PM
    Author     : ADMIN
*/

.inputNumberQuesions{
    width: 80px;
}
.buttonStart{
    padding-left: 185px;
}
.userTakeQuiz{
    padding-left: 5px;
}
.hidden {
    display: none;
}
.buttonNextFinish{
    padding-left: 400px;
    padding-bottom: 100px;
}

.pl-3{
    padding-left: 0.5rem;
}

.question p{
    margin: 0 auto;
    padding-top: 3px;
    display: flex;
}
.score{
    padding-right: 5px;
}
.time{
    padding-left: 250px;
}
.anotherTitle{
    padding-right: 5px;
    padding-top: 10px;
}
.timeRemaining{
    padding-left: 5px;
    color:red;
}

.btn-start{
    color: black;
    margin-top: 10px;
    margin-left: 1.5rem;
    font-weight: bold;
    padding: 2px 4px;
}

#next{
    color: black;
    margin-top: 10px;
    margin-left: 1.5rem;
    font-weight: bold;
    padding: 2px 4px;
}

#finish{
    color: black;
    margin-top: 10px;
    margin-left: 1.5rem;
    font-weight: bold;
    padding: 2px 4px;
}


.btn{
    color: black;
    padding: 4px 4px;
    margin-left: 3rem;
    font-weight: bold;
}

